* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: $grey-bg;
    font-family: $font-family;
    max-width: 100vw;
    overflow-y: hidden;
}

#root {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    position: relative;
}

.main {
    padding-bottom: 95px;
    overflow-x: hidden;
}

.container {
    max-width: 1280px;
    margin: auto;
    background: #e0e0e0;
    p {
        font-size: 1.2em;
        line-height: 2;
    }
}

@media screen and (max-width: 968px) {
    .main {
        padding-bottom: 250px;
    }
}
