@import 'styles';

.cart {
    width: 0;
    background: $royalblue-300;
    height: 100vh;
    padding: 0;
    position: fixed;
    right: 0;
    z-index: 999;
    transition: 300ms ease-in;
    overflow-y: scroll;

    & > * {
        opacity: 0;
    }

    &-title {
        text-transform: uppercase;
        font-size: 2.5em;
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    &__itembox {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        border-radius: 15px;
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
        background: #93acff;
        width: 100%;
        text-align: center;
        padding: 20px;

        img {
            width: 100px;
            height: 100px;
            border-radius: 15px;
        }
    }

    &__item {
        margin-left: 25px;
    }
    &__name {
        font-weight: 600;
        padding-bottom: 5px;
        margin: 0;
    }
    &__counter {
        display: flex;
        align-items: center;
        p {
            margin: 16px 10px;
        }
        &--btn {
            border-radius: 50%;
            height: 25px;
            width: 25px;
            border: none;
            font-size: 30px;
            background: none;
            position: relative;
            top: -8px;
            left: -2px;
        }
        :active,
        :focus {
            outline: none;
            .cart-minus {
                color: red;
            }
            .cart-plus {
                color: green;
            }
        }
    }

    &__empty {
        text-align: center;
        font-size: $font-size-24;
        font-weight: 500;
        color: #fff;
    }

    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    &__sumcost {
        font-size: 1.2em;
        color: white;
        text-align: center;
        font-weight: 600;
    }
}

.cart.active {
    width: 550px;
    padding: 10px;
    & > * {
        opacity: 1;
        transition: opacity 500ms 0.5s ease;
    }
}

.overlay {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 989;
    display: block;
    transition: 600ms ease-in;
    background: black;
    opacity: 0.5;
}

.overlay-hidden {
    display: hidden;
}

@media screen and (max-width: 968px) {
    .cart {
        &__itembox {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: auto;
            margin: auto;
            margin-bottom: 10px;

            & > * {
                flex: 1 1 20%;
                align-items: center;
                justify-content: center;
            }
            img {
                max-width: 100px;
                max-height: 100px;
                border-radius: 15px;
            }
        }

        &__item {
            margin: 0;
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &.active {
            width: 80%;
        }
    }
}
