button {
    cursor: pointer;
    font-family: $font-family;
}

// large button
.btn-large {
    align-items: center;
    background: $royalblue;
    border: 0;
    border-radius: 8px;
    color: $white;
    display: flex;
    font-size: $font-size-24;
    font-weight: 500;
    height: 40px;
    line-height: 1.5;
    padding: 25px 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: fit-content;

    &:hover,
    &:focus {
        background: $royalblue-600;
        cursor: pointer;
        outline: none;
    }

    &:active {
        background: $royalblue-700;
    }

    &:disabled {
        background: $grey-200;
        color: $grey;
        cursor: not-allowed;
    }
}

// medium button
.btn-medium {
    align-items: center;
    background: $royalblue;
    border: 0;
    border-radius: 65px;
    color: $white;
    display: flex;
    font-size: $font-size-12;
    font-weight: 500;
    height: 32px;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus {
        background: $royalblue-600;
        cursor: pointer;
        outline: none;
    }

    &:active {
        background: $royalblue-700;
    }

    &:disabled {
        background: $grey-200;
        color: $grey;
        cursor: not-allowed;
    }
}
