.section-title {
    text-transform: uppercase;
    font-size: 2.5em;
}

.page-title {
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 0;
    padding-top: 76px;
}

.page-explainer {
    font-size: 0.9em;
    text-align: center;
    font-style: italic;
    margin-top: 0;
}

@media screen and (max-width: 968px) {
    h2,
    h3 {
        text-align: center;
    }
    p {
        text-align: justify;
        padding: 0 20px;
    }
}
