@import 'styles';

.scroll-btn {
    position: fixed;
    width: 100%;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
    background-color: $royalblue;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.scroll-btn:hover {
    opacity: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

@media screen and (max-width: 968px) {
    .scroll-btn {
        bottom: 25px;
        right: 25px;
        opacity: 0.8;
    }
}
