@import 'styles';

.ErrorMessage {
    background-color: $red;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 13px;
    margin-top: 15px;
    width: 100%;
    transform: translateY(-15px);
}

.ErrorMessage svg {
    margin-right: 10px;
}
