.rule-box {
    position: relative;
    margin: 3% auto;
    margin-top: 6%;
    padding: 2em 3em;
    font-size: 1.1em;
    line-height: 2;
    max-width: 80%;

    border-radius: 38px;
    background: #e0e0e0;
    box-shadow: 20px 20px 30px #cccccc, -10px -10px 30px #f4f4f4;
}

@media screen and (max-width: 968px) {
    .rule-box {
        margin: 0;
        margin-top: 100px;
        padding: 0 20px;
        max-width: 100%;
        border-radius: 0;
        background: #e0e0e0;
        box-shadow: none;

        & > ol {
            padding-left: 0.5em;
        }
    }
}
