@import 'styles';

.checkout-preview {
    max-width: 600px;
    width: 100%;
    min-width: 325px;
    background: $royalblue-300;
    padding: 25px;
    padding-right: 35px;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 15px;

    &__itembox {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        border-radius: 15px;
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
        background: #93acff;
        width: 100%;
        text-align: center;
        padding: 20px;

        img {
            width: 100px;
            height: 100px;
            border-radius: 15px;
        }
    }

    &__item {
        margin-left: 25px;
    }
    &__name {
        font-weight: 600;
        padding-bottom: 5px;
        margin: 0;
    }
}

@media screen and (max-width: 968px) {
    .checkout-preview {
        &__itembox {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: auto;
            margin: auto;
            margin-bottom: 10px;
            & > * {
                flex: 1 1 20%;
                align-items: center;
                justify-content: center;
            }
            img {
                max-width: 100px;
                max-height: 100px;
                border-radius: 15px;
            }
        }

        &__item {
            margin: 0;
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}
