@import 'styles';

.paypal {
    max-width: 500px;
    width: 100%;
    min-width: 325px;
    background-color: #e9e9e9;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    position: relative;
    min-height: 150px;
    text-align: center;
}
