.infoCard {
    border-radius: 15px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
    width: 30%;
    min-width: 325px;
    overflow: hidden;
    flex: 1 1 325px;
    margin: 10px;

    &__container {
        overflow: hidden;
        max-height: 275px;
    }

    &__image {
        width: 100%;
        height: 275px;
        max-height: 275px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        transition: all 1s ease-in-out;
    }

    &:hover &__image {
        transform: scale(1.1);
    }

    &__desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1.5em;
        min-height: 150px;

        h2 {
            margin: 0;
            font-weight: 800;
            font-size: 30px;
        }
    }

    &__link {
        text-decoration: none;
        color: black;
    }
}
