@import 'styles';

.navbar {
    background: $royalblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10%;
    position: fixed;
    top: 0;
    transition: all 300ms ease-in-out;
    width: 100%;
    z-index: 979;

    &__nav {
        align-items: center;
        display: flex;
        flex-direction: row;
        list-style: none;
        z-index: 979;
    }

    &__item {
        margin-left: 2rem;
        position: relative;

        &:hover .navbar__link::before {
            transform: scaleX(1);
            transform-origin: left;
        }
    }

    &__link {
        color: $white;
        font-weight: 800;
        font-size: $font-size-20;
        position: relative;
        text-decoration: none;

        &:focus,
        &:active {
            outline: none;

            &::after {
                background-color: white;
                bottom: -2px;
                content: '';
                height: 3px;
                left: 0;
                position: absolute;
                width: 100%;
            }
        }

        &::before {
            background-color: #fff;
            bottom: -2px;
            content: '';
            height: 3px;
            left: 0;
            position: absolute;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform ease-in 300ms;
            width: 100%;
        }
    }

    &__logo {
        path {
            stroke: gray;
        }

        &-container {
            &:focus,
            &:active {
                outline: none;

                .navbar__logo path {
                    fill: rgb(139, 189, 255);
                }
            }
        }
    }

    &__menu {
        color: white;
        cursor: pointer;
        display: none !important;
        width: 40px;
        height: 50px;
        position: relative;
        top: 5px;
        z-index: 799;
        margin-right: 5px;

        &--toggle {
            &.navbar__menu--line1 {
                background-color: rgb(201, 201, 201);
                top: 18px;
                transform: rotate(45deg);
            }

            &.navbar__menu--line2 {
                opacity: 0;
                width: 0%;
                transform-origin: left;
            }

            &.navbar__menu--line3 {
                top: 18px;
                transform: rotate(-45deg);
            }
        }

        div {
            background: white;
            height: 7px;
            width: 50px;
            border-radius: 5px;
            transform-origin: left center;
            transition: 500ms ease-in-out;
            position: absolute;

            &:nth-child(1) {
                top: 0px;
            }

            &:nth-child(2) {
                top: 18px;
            }

            &:nth-child(3) {
                top: 36px;
            }
        }
    }

    &__cart {
        cursor: pointer;
        color: $white;

        &--counter {
            background: $red;
            color: $white;
            font-size: 0.9em;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            text-align: center;
            position: absolute;
            top: -10px;
            left: 10px;
            pointer-events: none;
            margin: 0;
            padding: 0;
            display: block;
        }

        &:focus,
        &:active {
            outline: none;

            path {
                fill: rgb(139, 189, 255);
            }

            & + .navbar__cart--counter {
                background: red;
            }
        }
    }

    &-active {
        &::after {
            background-color: white;
            bottom: -2px;
            content: '';
            height: 3px;
            left: 0;
            position: absolute;
            width: 100%;
        }
    }

    &.active {
        background: transparent;
    }
}

.click-off {
    position: fixed;
    top: 400px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 200;
    display: block;
    transition: 600ms ease-in;
    background: black;
    opacity: 0.5;
}

.click-off-hidden {
    display: none;
}

@media screen and (max-width: 968px) {
    .navbar {
        &__logo {
            width: 80%;
        }
        &.active {
            background: $royalblue;
        }

        &__menu {
            display: block !important;
        }

        &__nav {
            display: none;
            opacity: 0;
        }

        &__nav.active {
            display: block;
            position: fixed;
            left: 0;
            top: 76px;
            margin: 0;
            padding: 0;
            width: 100%;
            opacity: 1;
            transition: ease-in-out 1s;
        }

        &__item {
            background: $royalblue-300;
            top: 0;
            left: 0;
            margin: 0;
            display: flex;
            justify-content: center;

            & > a {
                padding: 25px;
                width: 100%;
                text-align: center;
                border-bottom: solid 3px $royalblue;
            }
        }

        &__cart {
            margin: 25px;
            &--counter {
                position: relative;
                left: -40px;
                top: 15px;
            }
        }
    }
}
