.list-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    max-width: 100%;
}

.btn-section {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

.dbl-btn {
    margin-top: 15px;
    margin-right: 10px;
}

@media screen and (max-width: 968px) {
    .btn-section {
        justify-content: center;
    }
}
