.hero {
    height: 100vh;
    width: 100%;

    &__bg-container {
        width: 100%;
        height: 100vh;
        right: 0;
        overflow: hidden;
        position: absolute;
        clip: rect(0, auto, auto, 0);
        pointer-events: none;
        user-select: none;
    }

    &__bg {
        position: fixed;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: top;
        right: 0;
        transform: perspective(0px);
        pointer-events: none;
        user-select: none;
    }

    &__content {
        margin-left: 15%;
        width: 45%;
        position: relative;
    }

    &__title {
        color: #fff;
        margin: 0;
        margin-bottom: 30px;
        padding-top: 50%;
        font-size: 4em;
    }
}

@media screen and (max-width: 968px) {
    .hero {
        &__content {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: auto;
            align-items: center;
        }
        &__title {
            text-align: center;
        }
    }
}

@media screen and (max-height: 595px) {
    .hero__title {
        font-size: 2.5em;
    }
}
