@import 'styles';

.title {
    font-size: $font-size-48;
    font-weight: 500;
}

.sub-title {
    text-transform: uppercase;
}

.list-title {
    font-weight: 700;
    font-size: $font-size-14;
}

.list-text {
    font-weight: 400;
    font-size: $font-size-12;
}
