.shop {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__bg-container {
        width: 100%;
        height: 100vh;
        right: 0;
        overflow: hidden;
        position: absolute;
        clip: rect(0, auto, auto, 0);
        user-select: none;
        pointer-events: none;
    }

    &__bg {
        position: fixed;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: bottom;
        right: 0;
        transform: perspective(0px);
        user-select: none;
        pointer-events: none;

        &--gradient {
            background: linear-gradient(
                to top right,
                rgba(0, 0, 0, 0.2),
                rgba(65, 105, 225, 0.3)
            );
            height: 100vh;
            position: absolute;
            top: 0px;
            right: 0px;
            left: 0px;
            z-index: 10;
            user-select: none;
            pointer-events: none;
        }
    }

    &__title {
        font-size: 15vw;
        color: rgb(230, 253, 255);
        position: relative;
        z-index: 11;
    }
}
