.form {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    margin: 10px;
    width: 600px;
    height: 600px;
    overflow: hidden;
    background: #f1f0f0;

    &__title {
        width: 100%;
        padding: 0 10%;
    }

    &-group {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;

        label {
            font-size: 12px;
        }

        input {
            width: 100%;
            padding: 12px 20px;
            margin-bottom: 10px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 15px;
        }
    }
    textarea {
        width: 100%;
        height: 250px;
        resize: none;
        border-radius: 15px;
        padding: 12px 20px;
        border: 1px solid #ccc;
    }

    &__btn {
        margin: 15px;
        margin-left: 10%;
    }
}

@media screen and (max-width: 968px) {
    .form {
        width: 90%;
        margin: 30px 0 10px 0;
        &__btn {
            margin-left: auto;
            margin-right: 10%;
        }
    }
}
