.alignment {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100vw;
}

.info-section {
    display: flex;
    justify-content: center;

    flex: 1 1 325px;
}
