.product {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 15px;
    width: 500px;

    &__title {
        font-size: 2em;
        margin-bottom: 0;
    }

    &__tag {
        margin-top: 0;
        font-size: 0.8em;
        font-style: italic;
    }

    &__laundry {
        width: 250px;
        align-items: center;
        img {
            width: 50px;
        }

        .freepik-cr {
            margin: 0;
            font-size: 0.55em;
            text-align: center;
            font-style: italic;

            a {
                text-decoration: none;

                color: black;

                &:hover {
                    color: blue;
                }
            }
        }
    }

    &__warn {
        font-size: 0.8em;
    }

    &__cost {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 968px) {
    .product {
        padding: auto;
        padding-left: 30px;
        p {
            padding: 0;
        }
    }
}
