.gallery {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 5px;
    width: 615px;
    height: 400px;

    &__selected {
        width: 100%;
        max-width: 400px;
        max-height: 400px;
        margin: 0 auto;
        aspect-ratio: 1/1;
        @supports not (aspect-ratio: 1/1) {
            min-height: 300px;
        }
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
    }

    &__image {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        gap: 5px;
        width: 210px;
        height: 400px;

        img {
            width: 100px;
            height: 95px;
            cursor: pointer;
            aspect-ratio: 1/1;
            @supports not (aspect-ratio: 1/1) {
                min-height: 300px;
            }
            box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
            border-radius: 15px;
        }
    }
}

@media screen and (max-width: 650px) {
    .gallery {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        &__image {
            width: 420px;
            height: 100%;
            flex-direction: row;
            justify-content: center;
            margin-top: 0px;
        }
    }
}
