@import 'styles';

.footer {
    align-items: center;
    background: $darkblue;
    display: flex;
    justify-content: space-between;
    padding: 1vh 10%;
    width: 100%;
    height: 8vh;
    position: absolute;
    bottom: 0;

    &__menu {
        display: flex;
    }

    &__logo {
        height: 2.5rem;
        path {
            stroke: gray;
        }

        &-container {
            &:focus,
            &:active {
                outline: none;
                .footer__logo path {
                    fill: rgb(139, 189, 255);
                }
            }
        }
    }

    &__nav {
        align-items: center;
        display: flex;
        flex-direction: row;
        list-style: none;
    }

    &__item {
        margin-left: 2rem;
        position: relative;

        &:hover .footer__link::before {
            transform: scaleX(1);
            transform-origin: left;
        }
    }

    &__link {
        text-decoration: none;
        color: $white;
        font-weight: 800;
        font-size: $font-size-16;
        position: relative;
        &:focus,
        &:active {
            outline: none;
            &::after {
                background-color: white;
                bottom: -2px;
                content: '';
                height: 3px;
                left: 0;
                position: absolute;
                width: 100%;
            }
        }

        &::before {
            background-color: white;
            bottom: -2px;
            content: '';
            height: 3px;
            left: 0;
            position: absolute;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform ease-in 300ms;
            width: 100%;
        }
    }

    &__copyright {
        color: $white;
        font-size: $font-size-14;
    }

    &-active {
        &::after {
            background-color: white;
            bottom: -2px;
            content: '';
            height: 3px;
            left: 0;
            position: absolute;
            width: 100%;
        }
    }
}

@media screen and (max-width: 968px) {
    .footer {
        height: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;

        &__logo {
            display: none;
        }

        &__nav {
            flex-direction: column;
            margin: 0;
            padding: 0;
        }

        &__item {
            margin: 10px 0;
            padding: 0;
        }
        &__copyright {
            font-size: 0.7em;
            opacity: 0.8;
        }
    }
}
