@import 'styles';
.contact {
    position: relative;
    &__information {
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        background: #e9e9e9;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 50px auto 20px auto;
        padding: 0;
        padding-top: 30px;
        max-width: 1000px;
    }

    &__item {
        flex: 1 1 30%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            color: $royalblue;

            &:hover {
                color: $royalblue-600;
            }

            &:active,
            &:focus {
                color: $royalblue-700;
                outline: none;
            }
        }
    }

    &__icon {
        margin-right: 10px;
    }

    &__interactives {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 968px) {
    .contact {
        &__item {
            flex: 1 1 100%;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            height: auto;
            margin-top: 25px;
            p {
                margin: 0;
                font-weight: 600;
                text-align: center;
            }
        }

        &__item-link {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        &__information {
            font-size: 2em;
            padding-bottom: 40px;
        }
        &__icon {
            font-size: large;
        }
    }
}
