@import 'styles';

.image-box {
    aspect-ratio: 1/1;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin: 10px;
    max-width: 100vw;
    overflow: hidden;
    position: relative;
    flex: 1 1 300px;
    @supports not (aspect-ratio: 1/1) {
        min-height: 300px;
    }

    &__image {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: 500ms ease-in-out;
    }

    &:hover &__image {
        transform: scale(1.1);
    }

    &:hover .image-cart {
        right: 0;
    }

    &:hover .image-name {
        left: 0;
    }
}

.image-cart {
    z-index: 599;
    position: absolute;
    bottom: 0px;
    right: -200px;
    transition: 300ms ease-in-out;
}

.image-name {
    background: $royalblue;
    padding: 5px 10px;
    border-top-right-radius: 15px;
    z-index: 599;
    position: absolute;
    bottom: 0px;
    left: -200px;
    transition: 300ms ease-in-out;
    margin: 0;
    color: $white;
    font-size: 1em;
    line-height: normal;
}

.btn-cart {
    align-items: center;
    background: $royalblue;
    border: 0;
    border-top-left-radius: 15px;
    color: $white;
    display: flex;
    font-size: 1em;
    height: 32px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;

    &:hover,
    &:focus {
        background: $royalblue-600;
        cursor: pointer;
        outline: none;
    }

    &:active {
        background: $royalblue-700;
    }

    &:disabled {
        background: $grey-200;
        color: $grey;
        cursor: not-allowed;
    }
}

@media screen and (max-width: 968px) {
    .image-cart {
        right: 0;
    }

    .image-name {
        left: 0;
    }
}
