.plaid-hero {
    width: 94%;
    margin: 0 3%;
    object-fit: cover;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.plaid {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin: 10px;
    width: 500px;
    overflow: hidden;
    position: relative;

    &-box {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 968px) {
    .plaid {
        width: 90%;

        &-box {
            flex-direction: column;
        }
    }
}
