.image {
    aspect-ratio: 1/1;
    @supports not (aspect-ratio: 1/1) {
        min-height: 300px;
    }
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin: 10px;
    width: 300px;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 968px) {
    .imaje-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
