$transparent: transparent;
$black: #000;
$white: #fff;

$royalblue-300: #557df8;
$royalblue: #4169e1;
$royalblue-600: #1a46c9;
$royalblue-700: #0c2e96;

$darkblue: #000927;

$grey-100: #f6f7f8;
$grey-200: #edeff1;
$grey-300: #dcdfe3;
$grey-400: #cacfd5;
$grey-500: #94a3ad;
$grey: $grey-500;
$grey-bg: #e0e0e0;

$red-500: #ff6e75;
$red-600: #ce4249;
$red: $red-500;

// 743a00 7f5539 ede0d4
